$main-color: #eee;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

button {
  color: $main-color;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline-style: none;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.player {
  position: relative;
  width: 100vw;
  max-height: 100vh;
}

.player__video {
  width: 100%;
}

.controler {
  padding: 5px 10px 5px 10px;
  position: absolute;
  width: 70%;
  top: 90%;
  left: 15%;
  background-color: rgb(32, 32, 32);
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s linear;
  cursor: move;

  &.is-invisible {
    opacity: 0;
  }
}
