.play__start {
  display: none;
  width: 15px;
  height: 15px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color: $main-color;
}

.play__start.is-visible {
  display: block;
}

.play__pause {
  display: none;
  position: relative;
  width: 15px;
  height: 15px;
}

.play__pause.is-visible {
  display: block;
}

.play__pause::before {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 15px;
  background-color: $main-color;
  left: 0px;
}
.play__pause::after {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 15px;
  background-color: $main-color;
  right: 0px;
}
